// fonts

body{
	font-family: 'RobotoDraft',sans-serif;
	line-height: 1.5em;
}


/*$prime : #0097a7;
$prime2 : #00838f;
$prime3 : #00acc1;*/

// $prime : #0288d1;
// $prime2 : #0277bd;
// $prime3 : #039be5;

// /*$prime : #d01716;
// $prime2 : #c41411;
// $prime3 : #dd191d;*/

// $prime : #afb42b;
// $prime2 : #9e9d24;
// $prime3 : #c0ca33;

// .primary{
// 	background-color: $prime;
// 	color: #fff;	
// }

// .primary-m{
// 	background-color: $prime2;
// 	color: #fff;	
// }

// .primary-l{
// 	background-color: $prime3;
// 	color: #fff;	
// }

h1,.h1{
	font-size: 30px;
}
h2,.h2{
	font-size: 24px;
}
h3,.h3{
	font-size: 22px;
}
h4,.h4{
	font-size: 20px;
}
h5,.h5{
	font-size: 18px;
}
h6,.h6{
	font-size: 14px;
}

.thin{
	font-weight: 100;
}
.light{
	font-weight: 300;
}
.regular{
	font-weight: 400;
}
.medium{
	font-weight: 500;
}
.bold{
	font-weight: 700;
}
.regular-italic{
	font-style: italic;
	font-weight: 400;
}




